party-metadata/src/main/resources/wsdl/person.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Person">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="givenName" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="surname" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="statusCode" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="message" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PersonMessage">
    <wsdl:part name="parameters" element="tns:Person"/>
  </wsdl:message>
  <wsdl:message name="PersonStatusMessage">
    <wsdl:part name="parameters" element="tns:PersonStatus"/>
  </wsdl:message>
  <wsdl:portType name="PersonWS">
    <wsdl:operation name="process">
      <wsdl:input message="tns:PersonMessage"/>
      <wsdl:output message="tns:PersonStatusMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonWSSoap" type="tns:PersonWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="process">
      <soap:operation soapAction="http://tempuri.org/process" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
<!--
  <wsdl:binding name="PersonWSSoap12" type="tns:PersonWS">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="process">
      <soap12:operation soapAction="http://tempuri.org/process" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
-->
  <wsdl:service name="PersonService">
    <wsdl:port name="PersonWSSoap" binding="tns:PersonWSSoap">
      <soap:address location="http://localhost/soap/PersonWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
